<html xmlns:th="http://www.thymeleaf.org">   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Details Page </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: beige;  
}  
button {   
       background-color: #4CAF50;   
       width: 15%;  
        color: orange;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #f1f1f1;   
    }   
 input[type=text], input[type=password] {   
        width: 50%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 25px;   
        background-color: lightblue;  
    }   
</style>   
</head>    
<body>    
     <h1 align="center"> Welcome To Application </h1>    
    <form>  
        <div class="container">   
            <p th:text="|Your Name : ${username}!|" /> 
             <a th:href="@{'/' }"  target="" >Go To Start </a> 
        </div>   
    </form>     
</body>     
</html>  